## Setups and imports

**Imports**

In [43]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
import scipy
import seaborn as sns

from scipy.stats import zscore
from collections import Counter
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay, accuracy_score

**Dataset loading and opening**

In [44]:
# Dataset
data = pd.DataFrame(pd.read_csv('data.csv'))
data.head()

,Q1A,Q1I,Q1E,Q2A,Q2I,Q2E,Q3A,Q3I,Q3E,Q4A,...,Q91E,country,dateload,introelapse,testelapse,surveyelapse,gender,engnat,age,IE
0,5,51,7107,3,91,2522,1,56,6180,2,...,4609,US,2019-02-20 17:35:52,1,461,16,2,1,23,3
1,5,39,6354,5,13,3092,1,12,5243,5,...,10409,AU,2019-02-20 17:46:32,21,467,15,1,2,25,2
2,3,17,5397,4,35,2747,5,40,5262,3,...,2691,BR,2019-02-20 18:10:24,56,306,17,1,2,19,1
3,5,41,3055,2,14,3348,1,13,5141,1,...,3697,CZ,2019-02-20 18:16:21,2,287,14,1,1,23,1
4,1,76,2542,2,54,1878,1,15,5637,1,...,1662,CA,2019-02-20 18:21:49,2,325,12,1,1,18,2

## Data quality handling

**Missing Values**

Assess the number of missing values:

In [45]:
# Check for missing values
columns = data.columns
for name in columns:
    print(f"{name}: {data[name].isna().unique()}")

Q1A: [False]
Q1I: [False]
Q1E: [False]
Q2A: [False]
Q2I: [False]
Q2E: [False]
Q3A: [False]
Q3I: [False]
Q3E: [False]
Q4A: [False]
Q4I: [False]
Q4E: [False]
Q5A: [False]
Q5I: [False]
Q5E: [False]
Q6A: [False]
Q6I: [False]
Q6E: [False]
Q7A: [False]
Q7I: [False]
Q7E: [False]
Q8A: [False]
Q8I: [False]
Q8E: [False]
Q9A: [False]
Q9I: [False]
Q9E: [False]
Q10A: [False]
Q10I: [False]
Q10E: [False]
Q11A: [False]
Q11I: [False]
Q11E: [False]
Q12A: [False]
Q12I: [False]
Q12E: [False]
Q13A: [False]
Q13I: [False]
Q13E: [False]
Q14A: [False]
Q14I: [False]
Q14E: [False]
Q15A: [False]
Q15I: [False]
Q15E: [False]
Q16A: [False]
Q16I: [False]
Q16E: [False]
Q17A: [False]
Q17I: [False]
Q17E: [False]
Q18A: [False]
Q18I: [False]
Q18E: [False]
Q19A: [False]
Q19I: [False]
Q19E: [False]
Q20A: [False]
Q20I: [False]
Q20E: [False]
Q21A: [False]
Q21I: [False]
Q21E: [False]
Q22A: [False]
Q22I: [False]
Q22E: [False]
Q23A: [False]
Q23I: [False]
Q23E: [False]
Q24A: [False]
Q24I: [False]
Q24E: [False]
Q25A: [False]
Q25I: [False]
Q25E: [False]
Q26A: [False]
Q26I: [False]
Q26E: [False]
Q27A: [False]
Q27I: [False]
Q27E: [False]
Q28A: [False]
Q28I: [False]
Q28E: [False]
Q29A: [False]
Q29I: [False]
Q29E: [False]
Q30A: [False]
Q30I: [False]
Q30E: [False]
Q31A: [False]
Q31I: [False]
Q31E: [False]
Q32A: [False]
Q32I: [False]
Q32E: [False]
Q33A: [False]
Q33I: [False]
Q33E: [False]
Q34A: [False]
Q34I: [False]
Q34E: [False]
Q35A: [False]
Q35I: [False]
Q35E: [False]
Q36A: [False]
Q36I: [False]
Q36E: [False]
Q37A: [False]
Q37I: [False]
Q37E: [False]
Q38A: [False]
Q38I: [False]
Q38E: [False]
Q39A: [False]
Q39I: [False]
Q39E: [False]
Q40A: [False]
Q40I: [False]
Q40E: [False]
Q41A: [False]
Q41I: [False]
Q41E: [False]
Q42A: [False]
Q42I: [False]
Q42E: [False]
Q43A: [False]
Q43I: [False]
Q43E: [False]
Q44A: [False]
Q44I: [False]
Q44E: [False]
Q45A: [False]
Q45I: [False]
Q45E: [False]
Q46A: [False]
Q46I: [False]
Q46E: [False]
Q47A: [False]
Q47I: [False]
Q47E: [False]
Q48A: [False]
Q48I: [False]
Q48E: [False]
Q49A: [False]
Q49I: [False]
Q49E: [False]
Q50A: [False]
Q50I: [False]
Q50E: [False]
Q51A: [False]
Q51I: [False]
Q51E: [False]
Q52A: [False]
Q52I: [False]
Q52E: [False]
Q53A: [False]
Q53I: [False]
Q53E: [False]
Q54A: [False]
Q54I: [False]
Q54E: [False]
Q55A: [False]
Q55I: [False]
Q55E: [False]
Q56A: [False]
Q56I: [False]
Q56E: [False]
Q57A: [False]
Q57I: [False]
Q57E: [False]
Q58A: [False]
Q58I: [False]
Q58E: [False]
Q59A: [False]
Q59I: [False]
Q59E: [False]
Q60A: [False]
Q60I: [False]
Q60E: [False]
Q61A: [False]
Q61I: [False]
Q61E: [False]
Q62A: [False]
Q62I: [False]
Q62E: [False]
Q63A: [False]
Q63I: [False]
Q63E: [False]
Q64A: [False]
Q64I: [False]
Q64E: [False]
Q65A: [False]
Q65I: [False]
Q65E: [False]
Q66A: [False]
Q66I: [False]
Q66E: [False]
Q67A: [False]
Q67I: [False]
Q67E: [False]
Q68A: [False]
Q68I: [False]
Q68E: [False]
Q69A: [False]
Q69I: [False]
Q69E: [False]
Q70A: [False]
Q70I: [False]
Q70E: [False]
Q71A: [False]
Q71I: [False]
Q71E: [False]
Q72A: [False]
Q72I: [False]
Q72E: [False]
Q73A: [False]
Q73I: [False]
Q73E: [False]
Q74A: [False]
Q74I: [False]
Q74E: [False]
Q75A: [False]
Q75I: [False]
Q75E: [False]
Q76A: [False]
Q76I: [False]
Q76E: [False]
Q77A: [False]
Q77I: [False]
Q77E: [False]
Q78A: [False]
Q78I: [False]
Q78E: [False]
Q79A: [False]
Q79I: [False]
Q79E: [False]
Q80A: [False]
Q80I: [False]
Q80E: [False]
Q81A: [False]
Q81I: [False]
Q81E: [False]
Q82A: [False]
Q82I: [False]
Q82E: [False]
Q83A: [False]
Q83I: [False]
Q83E: [False]
Q84A: [False]
Q84I: [False]
Q84E: [False]
Q85A: [False]
Q85I: [False]
Q85E: [False]
Q86A: [False]
Q86I: [False]
Q86E: [False]
Q87A: [False]
Q87I: [False]
Q87E: [False]
Q88A: [False]
Q88I: [False]
Q88E: [False]
Q89A: [False]
Q89I: [False]
Q89E: [False]
Q90A: [False]
Q90I: [False]
Q90E: [False]
Q91A: [False]
Q91I: [False]
Q91E: [False]
country: [False  True]
dateload: [False]
introelapse: [False]
testelapse: [False]
surveyelapse: [False]
gender: [False]
engnat: [False]
age: [False]
IE: [False]

In [46]:
print(f"Country att/>ribute null sum: {data['country'].isna().sum()}")
print(f"Unique values in country column: {data['country'].unique()}")

Country att/>ribute null sum: 2
Unique values in country column: ['US' 'AU' 'BR' 'CZ' 'CA' 'MX' 'IN' 'GB' 'PH' 'NONE' 'DE' 'PY' 'FI' 'GR'
 'SG' 'PL' 'OM' 'NZ' 'MY' 'KR' 'SK' 'RO' 'ID' 'PE' 'IT' 'CY' 'UA' 'LT'
 'KY' 'SE' 'RS' 'NL' 'FR' 'TT' 'RU' 'HR' 'IE' 'ZA' 'AL' 'HU' 'BE' 'PT'
 'CO' 'HN' 'MN' 'GH' 'JP' 'AE' 'BA' 'CR' 'LK' 'NO' 'VN' 'AT' 'CL' 'JM'
 'CH' 'DK' 'TR' 'ES' 'AR' 'BN' 'NG' 'TH' 'CN' 'EC' 'GE' 'TW' 'SI' 'HK'
 'BG' 'UY' 'MU' 'LV' 'PK' 'AG' 'GU' 'KE' 'EG' 'IS' 'IL' 'KZ' 'DZ' 'BY'
 'SA' 'SC' 'ME' 'MA' 'MT' 'BS' 'MK' 'ZM' 'TZ' 'SV' 'JO' 'BH' 'LB' 'VE'
 'AX' 'AM' 'ZW' nan 'LU' 'EE' 'MD' 'NP' 'SO' 'TN' 'KW' 'QA' 'PA' 'BB' 'JE'
 'GI' 'PR' 'GT' 'AZ' 'TC' 'KN' 'SY' 'DO' 'RW']

In [47]:
print(Counter(data['country']))

Counter({'US': 3417, 'GB': 517, 'CA': 448, 'AU': 323, 'DE': 193, 'NONE': 185, 'IN': 150, 'PH': 127, 'ID': 109, 'BR': 91, 'PL': 91, 'RO': 77, 'MY': 76, 'NL': 74, 'NZ': 70, 'FR': 68, 'SE': 65, 'FI': 63, 'SG': 62, 'IT': 58, 'RU': 48, 'PT': 41, 'ES': 38, 'NO': 35, 'IE': 34, 'MX': 32, 'ZA': 31, 'GR': 27, 'CZ': 26, 'DK': 26, 'TR': 26, 'RS': 25, 'BE': 24, 'AR': 24, 'HR': 23, 'CH': 22, 'HU': 21, 'LT': 19, 'NG': 19, 'PK': 17, 'JP': 16, 'AT': 16, 'KE': 16, 'UA': 15, 'HK': 15, 'TH': 14, 'VN': 13, 'SI': 13, 'BG': 13, 'CN': 10, 'IL': 10, 'SK': 9, 'AE': 9, 'KR': 8, 'CO': 8, 'CL': 8, 'BY': 8, 'LB': 8, 'PY': 7, 'GE': 7, 'MA': 6, 'TT': 5, 'AL': 5, 'BA': 5, 'CR': 5, 'JM': 5, 'TW': 5, 'DZ': 5, 'SA': 5, 'PE': 4, 'EC': 4, 'MK': 4, 'EE': 4, 'MN': 3, 'LV': 3, 'EG': 3, 'ME': 3, 'BS': 3, 'VE': 3, 'AM': 3, 'MD': 3, 'NP': 3, 'CY': 2, 'KY': 2, 'HN': 2, 'LK': 2, 'BN': 2, 'UY': 2, 'MU': 2, 'IS': 2, 'MT': 2, 'ZM': 2, nan: 2, 'QA': 2, 'PA': 2, 'GT': 2, 'OM': 1, 'GH': 1, 'AG': 1, 'GU': 1, 'KZ': 1, 'SC': 1, 'TZ': 1, 'SV': 1, 'JO': 1, 'BH': 1, 'AX': 1, 'ZW': 1, 'LU': 1, 'SO': 1, 'TN': 1, 'KW': 1, 'BB': 1, 'JE': 1, 'GI': 1, 'PR': 1, 'AZ': 1, 'TC': 1, 'KN': 1, 'SY': 1, 'DO': 1, 'RW': 1})

The total number of missing values in 187, which is around 2.6% of the total dataset. We conclude that dropping the missing values will not have significant impact.

In [48]:
data = data.dropna()

for country in data['country']:
    idx = data[data['country']=='NONE'].index
    data = data.drop(idx)

In [49]:
print(f"Country att/>ribute null sum: {data['country'].isna().sum()}")
print(f"Unique values in country column: {data['country'].unique()}")

Country att/>ribute null sum: 0
Unique values in country column: ['US' 'AU' 'BR' 'CZ' 'CA' 'MX' 'IN' 'GB' 'PH' 'DE' 'PY' 'FI' 'GR' 'SG'
 'PL' 'OM' 'NZ' 'MY' 'KR' 'SK' 'RO' 'ID' 'PE' 'IT' 'CY' 'UA' 'LT' 'KY'
 'SE' 'RS' 'NL' 'FR' 'TT' 'RU' 'HR' 'IE' 'ZA' 'AL' 'HU' 'BE' 'PT' 'CO'
 'HN' 'MN' 'GH' 'JP' 'AE' 'BA' 'CR' 'LK' 'NO' 'VN' 'AT' 'CL' 'JM' 'CH'
 'DK' 'TR' 'ES' 'AR' 'BN' 'NG' 'TH' 'CN' 'EC' 'GE' 'TW' 'SI' 'HK' 'BG'
 'UY' 'MU' 'LV' 'PK' 'AG' 'GU' 'KE' 'EG' 'IS' 'IL' 'KZ' 'DZ' 'BY' 'SA'
 'SC' 'ME' 'MA' 'MT' 'BS' 'MK' 'ZM' 'TZ' 'SV' 'JO' 'BH' 'LB' 'VE' 'AX'
 'AM' 'ZW' 'LU' 'EE' 'MD' 'NP' 'SO' 'TN' 'KW' 'QA' 'PA' 'BB' 'JE' 'GI'
 'PR' 'GT' 'AZ' 'TC' 'KN' 'SY' 'DO' 'RW']

In [50]:
print(Counter(data['country']))

Counter({'US': 3417, 'GB': 517, 'CA': 448, 'AU': 323, 'DE': 193, 'IN': 150, 'PH': 127, 'ID': 109, 'BR': 91, 'PL': 91, 'RO': 77, 'MY': 76, 'NL': 74, 'NZ': 70, 'FR': 68, 'SE': 65, 'FI': 63, 'SG': 62, 'IT': 58, 'RU': 48, 'PT': 41, 'ES': 38, 'NO': 35, 'IE': 34, 'MX': 32, 'ZA': 31, 'GR': 27, 'CZ': 26, 'DK': 26, 'TR': 26, 'RS': 25, 'BE': 24, 'AR': 24, 'HR': 23, 'CH': 22, 'HU': 21, 'LT': 19, 'NG': 19, 'PK': 17, 'JP': 16, 'AT': 16, 'KE': 16, 'UA': 15, 'HK': 15, 'TH': 14, 'VN': 13, 'SI': 13, 'BG': 13, 'CN': 10, 'IL': 10, 'SK': 9, 'AE': 9, 'KR': 8, 'CO': 8, 'CL': 8, 'BY': 8, 'LB': 8, 'PY': 7, 'GE': 7, 'MA': 6, 'TT': 5, 'AL': 5, 'BA': 5, 'CR': 5, 'JM': 5, 'TW': 5, 'DZ': 5, 'SA': 5, 'PE': 4, 'EC': 4, 'MK': 4, 'EE': 4, 'MN': 3, 'LV': 3, 'EG': 3, 'ME': 3, 'BS': 3, 'VE': 3, 'AM': 3, 'MD': 3, 'NP': 3, 'CY': 2, 'KY': 2, 'HN': 2, 'LK': 2, 'BN': 2, 'UY': 2, 'MU': 2, 'IS': 2, 'MT': 2, 'ZM': 2, 'QA': 2, 'PA': 2, 'GT': 2, 'OM': 1, 'GH': 1, 'AG': 1, 'GU': 1, 'KZ': 1, 'SC': 1, 'TZ': 1, 'SV': 1, 'JO': 1, 'BH': 1, 'AX': 1, 'ZW': 1, 'LU': 1, 'SO': 1, 'TN': 1, 'KW': 1, 'BB': 1, 'JE': 1, 'GI': 1, 'PR': 1, 'AZ': 1, 'TC': 1, 'KN': 1, 'SY': 1, 'DO': 1, 'RW': 1})

**Data format**

We will now ensure that the data types match the significance of the columns. We will also be ensuring that any non-numerical values are changed to numerical ones.

In [51]:
for column_name in columns:
    print(f"{column_name} data type: {data[column_name].dtype}")

Q1A data type: int64
Q1I data type: int64
Q1E data type: int64
Q2A data type: int64
Q2I data type: int64
Q2E data type: int64
Q3A data type: int64
Q3I data type: int64
Q3E data type: int64
Q4A data type: int64
Q4I data type: int64
Q4E data type: int64
Q5A data type: int64
Q5I data type: int64
Q5E data type: int64
Q6A data type: int64
Q6I data type: int64
Q6E data type: int64
Q7A data type: int64
Q7I data type: int64
Q7E data type: int64
Q8A data type: int64
Q8I data type: int64
Q8E data type: int64
Q9A data type: int64
Q9I data type: int64
Q9E data type: int64
Q10A data type: int64
Q10I data type: int64
Q10E data type: int64
Q11A data type: int64
Q11I data type: int64
Q11E data type: int64
Q12A data type: int64
Q12I data type: int64
Q12E data type: int64
Q13A data type: int64
Q13I data type: int64
Q13E data type: int64
Q14A data type: int64
Q14I data type: int64
Q14E data type: int64
Q15A data type: int64
Q15I data type: int64
Q15E data type: int64
Q16A data type: int64
Q16I data type: int64
Q16E data type: int64
Q17A data type: int64
Q17I data type: int64
Q17E data type: int64
Q18A data type: int64
Q18I data type: int64
Q18E data type: int64
Q19A data type: int64
Q19I data type: int64
Q19E data type: int64
Q20A data type: int64
Q20I data type: int64
Q20E data type: int64
Q21A data type: int64
Q21I data type: int64
Q21E data type: int64
Q22A data type: int64
Q22I data type: int64
Q22E data type: int64
Q23A data type: int64
Q23I data type: int64
Q23E data type: int64
Q24A data type: int64
Q24I data type: int64
Q24E data type: int64
Q25A data type: int64
Q25I data type: int64
Q25E data type: int64
Q26A data type: int64
Q26I data type: int64
Q26E data type: int64
Q27A data type: int64
Q27I data type: int64
Q27E data type: int64
Q28A data type: int64
Q28I data type: int64
Q28E data type: int64
Q29A data type: int64
Q29I data type: int64
Q29E data type: int64
Q30A data type: int64
Q30I data type: int64
Q30E data type: int64
Q31A data type: int64
Q31I data type: int64
Q31E data type: int64
Q32A data type: int64
Q32I data type: int64
Q32E data type: int64
Q33A data type: int64
Q33I data type: int64
Q33E data type: int64
Q34A data type: int64
Q34I data type: int64
Q34E data type: int64
Q35A data type: int64
Q35I data type: int64
Q35E data type: int64
Q36A data type: int64
Q36I data type: int64
Q36E data type: int64
Q37A data type: int64
Q37I data type: int64
Q37E data type: int64
Q38A data type: int64
Q38I data type: int64
Q38E data type: int64
Q39A data type: int64
Q39I data type: int64
Q39E data type: int64
Q40A data type: int64
Q40I data type: int64
Q40E data type: int64
Q41A data type: int64
Q41I data type: int64
Q41E data type: int64
Q42A data type: int64
Q42I data type: int64
Q42E data type: int64
Q43A data type: int64
Q43I data type: int64
Q43E data type: int64
Q44A data type: int64
Q44I data type: int64
Q44E data type: int64
Q45A data type: int64
Q45I data type: int64
Q45E data type: int64
Q46A data type: int64
Q46I data type: int64
Q46E data type: int64
Q47A data type: int64
Q47I data type: int64
Q47E data type: int64
Q48A data type: int64
Q48I data type: int64
Q48E data type: int64
Q49A data type: int64
Q49I data type: int64
Q49E data type: int64
Q50A data type: int64
Q50I data type: int64
Q50E data type: int64
Q51A data type: int64
Q51I data type: int64
Q51E data type: int64
Q52A data type: int64
Q52I data type: int64
Q52E data type: int64
Q53A data type: int64
Q53I data type: int64
Q53E data type: int64
Q54A data type: int64
Q54I data type: int64
Q54E data type: int64
Q55A data type: int64
Q55I data type: int64
Q55E data type: int64
Q56A data type: int64
Q56I data type: int64
Q56E data type: int64
Q57A data type: int64
Q57I data type: int64
Q57E data type: int64
Q58A data type: int64
Q58I data type: int64
Q58E data type: int64
Q59A data type: int64
Q59I data type: int64
Q59E data type: int64
Q60A data type: int64
Q60I data type: int64
Q60E data type: int64
Q61A data type: int64
Q61I data type: int64
Q61E data type: int64
Q62A data type: int64
Q62I data type: int64
Q62E data type: int64
Q63A data type: int64
Q63I data type: int64
Q63E data type: int64
Q64A data type: int64
Q64I data type: int64
Q64E data type: int64
Q65A data type: int64
Q65I data type: int64
Q65E data type: int64
Q66A data type: int64
Q66I data type: int64
Q66E data type: int64
Q67A data type: int64
Q67I data type: int64
Q67E data type: int64
Q68A data type: int64
Q68I data type: int64
Q68E data type: int64
Q69A data type: int64
Q69I data type: int64
Q69E data type: int64
Q70A data type: int64
Q70I data type: int64
Q70E data type: int64
Q71A data type: int64
Q71I data type: int64
Q71E data type: int64
Q72A data type: int64
Q72I data type: int64
Q72E data type: int64
Q73A data type: int64
Q73I data type: int64
Q73E data type: int64
Q74A data type: int64
Q74I data type: int64
Q74E data type: int64
Q75A data type: int64
Q75I data type: int64
Q75E data type: int64
Q76A data type: int64
Q76I data type: int64
Q76E data type: int64
Q77A data type: int64
Q77I data type: int64
Q77E data type: int64
Q78A data type: int64
Q78I data type: int64
Q78E data type: int64
Q79A data type: int64
Q79I data type: int64
Q79E data type: int64
Q80A data type: int64
Q80I data type: int64
Q80E data type: int64
Q81A data type: int64
Q81I data type: int64
Q81E data type: int64
Q82A data type: int64
Q82I data type: int64
Q82E data type: int64
Q83A data type: int64
Q83I data type: int64
Q83E data type: int64
Q84A data type: int64
Q84I data type: int64
Q84E data type: int64
Q85A data type: int64
Q85I data type: int64
Q85E data type: int64
Q86A data type: int64
Q86I data type: int64
Q86E data type: int64
Q87A data type: int64
Q87I data type: int64
Q87E data type: int64
Q88A data type: int64
Q88I data type: int64
Q88E data type: int64
Q89A data type: int64
Q89I data type: int64
Q89E data type: int64
Q90A data type: int64
Q90I data type: int64
Q90E data type: int64
Q91A data type: int64
Q91I data type: int64
Q91E data type: int64
country data type: object
dateload data type: object
introelapse data type: int64
testelapse data type: int64
surveyelapse data type: int64
gender data type: int64
engnat data type: int64
age data type: int64
IE data type: int64

In [52]:
for column_name in columns:
    if column_name.endswith('A'):
        unique_values = data[column_name].unique()
        unique_values.sort()
        print(f"{column_name}: {unique_values}")
        print('---------------------------------------------')

Q1A: [1 2 3 4 5]
---------------------------------------------
Q2A: [1 2 3 4 5]
---------------------------------------------
Q3A: [1 2 3 4 5]
---------------------------------------------
Q4A: [1 2 3 4 5]
---------------------------------------------
Q5A: [1 2 3 4 5]
---------------------------------------------
Q6A: [1 2 3 4 5]
---------------------------------------------
Q7A: [1 2 3 4 5]
---------------------------------------------
Q8A: [1 2 3 4 5]
---------------------------------------------
Q9A: [1 2 3 4 5]
---------------------------------------------
Q10A: [1 2 3 4 5]
---------------------------------------------
Q11A: [1 2 3 4 5]
---------------------------------------------
Q12A: [1 2 3 4 5]
---------------------------------------------
Q13A: [1 2 3 4 5]
---------------------------------------------
Q14A: [1 2 3 4 5]
---------------------------------------------
Q15A: [1 2 3 4 5]
---------------------------------------------
Q16A: [1 2 3 4 5]
---------------------------------------------
Q17A: [1 2 3 4 5]
---------------------------------------------
Q18A: [1 2 3 4 5]
---------------------------------------------
Q19A: [1 2 3 4 5]
---------------------------------------------
Q20A: [1 2 3 4 5]
---------------------------------------------
Q21A: [1 2 3 4 5]
---------------------------------------------
Q22A: [1 2 3 4 5]
---------------------------------------------
Q23A: [1 2 3 4 5]
---------------------------------------------
Q24A: [1 2 3 4 5]
---------------------------------------------
Q25A: [1 2 3 4 5]
---------------------------------------------
Q26A: [1 2 3 4 5]
---------------------------------------------
Q27A: [1 2 3 4 5]
---------------------------------------------
Q28A: [1 2 3 4 5]
---------------------------------------------
Q29A: [1 2 3 4 5]
---------------------------------------------
Q30A: [1 2 3 4 5]
---------------------------------------------
Q31A: [1 2 3 4 5]
---------------------------------------------
Q32A: [1 2 3 4 5]
---------------------------------------------
Q33A: [1 2 3 4 5]
---------------------------------------------
Q34A: [1 2 3 4 5]
---------------------------------------------
Q35A: [1 2 3 4 5]
---------------------------------------------
Q36A: [1 2 3 4 5]
---------------------------------------------
Q37A: [1 2 3 4 5]
---------------------------------------------
Q38A: [1 2 3 4 5]
---------------------------------------------
Q39A: [1 2 3 4 5]
---------------------------------------------
Q40A: [1 2 3 4 5]
---------------------------------------------
Q41A: [1 2 3 4 5]
---------------------------------------------
Q42A: [1 2 3 4 5]
---------------------------------------------
Q43A: [1 2 3 4 5]
---------------------------------------------
Q44A: [1 2 3 4 5]
---------------------------------------------
Q45A: [1 2 3 4 5]
---------------------------------------------
Q46A: [1 2 3 4 5]
---------------------------------------------
Q47A: [1 2 3 4 5]
---------------------------------------------
Q48A: [1 2 3 4 5]
---------------------------------------------
Q49A: [1 2 3 4 5]
---------------------------------------------
Q50A: [1 2 3 4 5]
---------------------------------------------
Q51A: [1 2 3 4 5]
---------------------------------------------
Q52A: [1 2 3 4 5]
---------------------------------------------
Q53A: [1 2 3 4 5]
---------------------------------------------
Q54A: [1 2 3 4 5]
---------------------------------------------
Q55A: [1 2 3 4 5]
---------------------------------------------
Q56A: [1 2 3 4 5]
---------------------------------------------
Q57A: [1 2 3 4 5]
---------------------------------------------
Q58A: [1 2 3 4 5]
---------------------------------------------
Q59A: [1 2 3 4 5]
---------------------------------------------
Q60A: [1 2 3 4 5]
---------------------------------------------
Q61A: [1 2 3 4 5]
---------------------------------------------
Q62A: [1 2 3 4 5]
---------------------------------------------
Q63A: [1 2 3 4 5]
---------------------------------------------
Q64A: [1 2 3 4 5]
---------------------------------------------
Q65A: [1 2 3 4 5]
---------------------------------------------
Q66A: [1 2 3 4 5]
---------------------------------------------
Q67A: [1 2 3 4 5]
---------------------------------------------
Q68A: [1 2 3 4 5]
---------------------------------------------
Q69A: [1 2 3 4 5]
---------------------------------------------
Q70A: [1 2 3 4 5]
---------------------------------------------
Q71A: [1 2 3 4 5]
---------------------------------------------
Q72A: [1 2 3 4 5]
---------------------------------------------
Q73A: [1 2 3 4 5]
---------------------------------------------
Q74A: [1 2 3 4 5]
---------------------------------------------
Q75A: [1 2 3 4 5]
---------------------------------------------
Q76A: [1 2 3 4 5]
---------------------------------------------
Q77A: [1 2 3 4 5]
---------------------------------------------
Q78A: [1 2 3 4 5]
---------------------------------------------
Q79A: [1 2 3 4 5]
---------------------------------------------
Q80A: [1 2 3 4 5]
---------------------------------------------
Q81A: [1 2 3 4 5]
---------------------------------------------
Q82A: [1 2 3 4 5]
---------------------------------------------
Q83A: [1 2 3 4 5]
---------------------------------------------
Q84A: [1 2 3 4 5]
---------------------------------------------
Q85A: [1 2 3 4 5]
---------------------------------------------
Q86A: [1 2 3 4 5]
---------------------------------------------
Q87A: [1 2 3 4 5]
---------------------------------------------
Q88A: [1 2 3 4 5]
---------------------------------------------
Q89A: [1 2 3 4 5]
---------------------------------------------
Q90A: [1 2 3 4 5]
---------------------------------------------
Q91A: [1 2 3 4 5]
---------------------------------------------

In [53]:
for column_name in columns:
    if column_name.endswith('I'):
        unique_values = data[column_name].unique()
        print(f"{column_name}: min: {min(unique_values)} and max: {max(unique_values)}")
        print("-------------------------------")

Q1I: min: 1 and max: 91
-------------------------------
Q2I: min: 1 and max: 91
-------------------------------
Q3I: min: 1 and max: 91
-------------------------------
Q4I: min: 1 and max: 91
-------------------------------
Q5I: min: 1 and max: 91
-------------------------------
Q6I: min: 1 and max: 91
-------------------------------
Q7I: min: 1 and max: 91
-------------------------------
Q8I: min: 1 and max: 91
-------------------------------
Q9I: min: 1 and max: 91
-------------------------------
Q10I: min: 1 and max: 91
-------------------------------
Q11I: min: 1 and max: 91
-------------------------------
Q12I: min: 1 and max: 91
-------------------------------
Q13I: min: 1 and max: 91
-------------------------------
Q14I: min: 1 and max: 91
-------------------------------
Q15I: min: 1 and max: 91
-------------------------------
Q16I: min: 1 and max: 91
-------------------------------
Q17I: min: 1 and max: 91
-------------------------------
Q18I: min: 1 and max: 91
-------------------------------
Q19I: min: 1 and max: 91
-------------------------------
Q20I: min: 1 and max: 91
-------------------------------
Q21I: min: 1 and max: 91
-------------------------------
Q22I: min: 1 and max: 91
-------------------------------
Q23I: min: 1 and max: 91
-------------------------------
Q24I: min: 1 and max: 91
-------------------------------
Q25I: min: 1 and max: 91
-------------------------------
Q26I: min: 1 and max: 91
-------------------------------
Q27I: min: 1 and max: 91
-------------------------------
Q28I: min: 1 and max: 91
-------------------------------
Q29I: min: 1 and max: 91
-------------------------------
Q30I: min: 1 and max: 91
-------------------------------
Q31I: min: 1 and max: 91
-------------------------------
Q32I: min: 1 and max: 91
-------------------------------
Q33I: min: 1 and max: 91
-------------------------------
Q34I: min: 1 and max: 91
-------------------------------
Q35I: min: 1 and max: 91
-------------------------------
Q36I: min: 1 and max: 91
-------------------------------
Q37I: min: 1 and max: 91
-------------------------------
Q38I: min: 1 and max: 91
-------------------------------
Q39I: min: 1 and max: 91
-------------------------------
Q40I: min: 1 and max: 91
-------------------------------
Q41I: min: 1 and max: 91
-------------------------------
Q42I: min: 1 and max: 91
-------------------------------
Q43I: min: 1 and max: 91
-------------------------------
Q44I: min: 1 and max: 91
-------------------------------
Q45I: min: 1 and max: 91
-------------------------------
Q46I: min: 1 and max: 91
-------------------------------
Q47I: min: 1 and max: 91
-------------------------------
Q48I: min: 1 and max: 91
-------------------------------
Q49I: min: 1 and max: 91
-------------------------------
Q50I: min: 1 and max: 91
-------------------------------
Q51I: min: 1 and max: 91
-------------------------------
Q52I: min: 1 and max: 91
-------------------------------
Q53I: min: 1 and max: 91
-------------------------------
Q54I: min: 1 and max: 91
-------------------------------
Q55I: min: 1 and max: 91
-------------------------------
Q56I: min: 1 and max: 91
-------------------------------
Q57I: min: 1 and max: 91
-------------------------------
Q58I: min: 1 and max: 91
-------------------------------
Q59I: min: 1 and max: 91
-------------------------------
Q60I: min: 1 and max: 91
-------------------------------
Q61I: min: 1 and max: 91
-------------------------------
Q62I: min: 1 and max: 91
-------------------------------
Q63I: min: 1 and max: 91
-------------------------------
Q64I: min: 1 and max: 91
-------------------------------
Q65I: min: 1 and max: 91
-------------------------------
Q66I: min: 1 and max: 91
-------------------------------
Q67I: min: 1 and max: 91
-------------------------------
Q68I: min: 1 and max: 91
-------------------------------
Q69I: min: 1 and max: 91
-------------------------------
Q70I: min: 1 and max: 91
-------------------------------
Q71I: min: 1 and max: 91
-------------------------------
Q72I: min: 1 and max: 91
-------------------------------
Q73I: min: 1 and max: 91
-------------------------------
Q74I: min: 1 and max: 91
-------------------------------
Q75I: min: 1 and max: 91
-------------------------------
Q76I: min: 1 and max: 91
-------------------------------
Q77I: min: 1 and max: 91
-------------------------------
Q78I: min: 1 and max: 91
-------------------------------
Q79I: min: 1 and max: 91
-------------------------------
Q80I: min: 1 and max: 91
-------------------------------
Q81I: min: 1 and max: 91
-------------------------------
Q82I: min: 1 and max: 91
-------------------------------
Q83I: min: 1 and max: 91
-------------------------------
Q84I: min: 1 and max: 91
-------------------------------
Q85I: min: 1 and max: 91
-------------------------------
Q86I: min: 1 and max: 91
-------------------------------
Q87I: min: 1 and max: 91
-------------------------------
Q88I: min: 1 and max: 91
-------------------------------
Q89I: min: 1 and max: 91
-------------------------------
Q90I: min: 1 and max: 91
-------------------------------
Q91I: min: 1 and max: 91
-------------------------------

In [54]:
unique_gender = data['gender'].unique()
unique_engnat = data['engnat'].unique()
unique_ie = data['IE'].unique()
unique_countries = data['country'].unique()

print(f"Unique genders: {unique_gender} \n Unique engnat: {unique_engnat} \n Unique IE: {unique_ie} \n Unique countries: {unique_countries}")

Unique genders: [2 1 3 0]
 Unique engnat: [1 2 0]
 Unique IE: [3 2 1 0]
 Unique countries: ['US' 'AU' 'BR' 'CZ' 'CA' 'MX' 'IN' 'GB' 'PH' 'DE' 'PY' 'FI' 'GR' 'SG'
 'PL' 'OM' 'NZ' 'MY' 'KR' 'SK' 'RO' 'ID' 'PE' 'IT' 'CY' 'UA' 'LT' 'KY'
 'SE' 'RS' 'NL' 'FR' 'TT' 'RU' 'HR' 'IE' 'ZA' 'AL' 'HU' 'BE' 'PT' 'CO'
 'HN' 'MN' 'GH' 'JP' 'AE' 'BA' 'CR' 'LK' 'NO' 'VN' 'AT' 'CL' 'JM' 'CH'
 'DK' 'TR' 'ES' 'AR' 'BN' 'NG' 'TH' 'CN' 'EC' 'GE' 'TW' 'SI' 'HK' 'BG'
 'UY' 'MU' 'LV' 'PK' 'AG' 'GU' 'KE' 'EG' 'IS' 'IL' 'KZ' 'DZ' 'BY' 'SA'
 'SC' 'ME' 'MA' 'MT' 'BS' 'MK' 'ZM' 'TZ' 'SV' 'JO' 'BH' 'LB' 'VE' 'AX'
 'AM' 'ZW' 'LU' 'EE' 'MD' 'NP' 'SO' 'TN' 'KW' 'QA' 'PA' 'BB' 'JE' 'GI'
 'PR' 'GT' 'AZ' 'TC' 'KN' 'SY' 'DO' 'RW']

In [55]:
print(Counter(data['gender']))
print(Counter(data['engnat']))
print(Counter(data['IE']))

Counter({2: 4075, 1: 2642, 3: 195, 0: 89})
Counter({1: 4853, 2: 2132, 0: 16})
Counter({1: 4294, 3: 1716, 2: 967, 0: 24})

In [56]:
# Some corrections for above for user data

# Gender - Assume 0 is choice non-disclosure, so merge it with 3 (other)
for gender in data['gender']:
    if gender == 0:
        idx = data[data['gender']==0].index
        data.loc[idx, 'gender'] = 3

unique_genders = data['gender'].unique()
print(f"Unique genders: {unique_genders}")


# Engnat - Assume 0 is choice of non-disclosure, hence assumed that it is 2 (non-English) for analysis purposes
for eng in data['engnat']:
    if eng == 0:
        idx = data[data['engnat']==0].index
        data.loc[idx, 'engnat'] = 2
    
unique_engnat = data['engnat'].unique()
print(f"Unique engnat: {unique_engnat}")

# IE - Assume 0 is choice of non-disclose, hence assumed that it is 3 (No)
for ie in data['IE']:
    if ie ==0:
        idx = data[data['IE']==0].index
        data.loc[idx, 'IE'] = 3

unique_ie = data['IE'].unique()
print(f"Unique IE: {unique_ie}")

Unique genders: [2 1 3]
Unique engnat: [1 2]
Unique IE: [3 2 1]

In [57]:
unique_ages = data['age'].unique()
print(f"Unique ages: {unique_ages}")

Unique ages: [     23      25      19      18      22      20      15      51      53
      21      69      30      14      26      24      17      29      32
      16      40      28      59      33      38      31      50      64
      56      44      45      54      62      37      39      58      48
      34      35      27      43      68      42      36      60      57
      61      52      55      47      49      79      41      81      65
      46      72    1990      70      71      77      67     255      66
      63      78    1991 8675309      75    2003    1983      73      90
    1979    1999    1996]

To note: ages have outliers and incorrect data.

Decompose the dataset for easier analysis.

In [ ]:
def extract_columns(dataset, ending_letter):
    output_data = pd.DataFrame({ending_letter: []})
    for columns_name in dataset.columns:
        if column_name.endswith(ending_letter):
            extracted_column = dataset[column_name]
            output_data.insert(loc = 1, column = column_name, value = extracted_column.values)
            
    output_data = output_data.drop([ending_letter], axis = 1)

In [59]:
e_data = pd.DataFrame({'E': []})
i_data = pd.DataFrame({'I': []})
a_data = pd.DataFrame({'A': []})
for column_name in data.columns:
    if column_name.endswith("E"):
        extracted_column = data[column_name]
        e_data.insert(loc = 1, column = column_name, value = extracted_column.values)
    if column_name.endswith("I"):
        extracted_column = data[column_name]
        i_data.insert(loc = 1, column = column_name, value = extracted_column.values)
    if column_name.endswith("A"):
        extracted_column = data[column_name]
        a_data.insert(loc = 1, column = column_name, value = extracted_column)

In [60]:
e_data = e_data.drop(['E'], axis = 1)
i_data = i_data.drop(['I'], axis = 1)
a_data = a_data.drop(['A'], axis = 1)

In [61]:
e_data.head()

,IE,Q91E,Q90E,Q89E,Q88E,Q87E,Q86E,Q85E,Q84E,Q83E,...,Q10E,Q9E,Q8E,Q7E,Q6E,Q5E,Q4E,Q3E,Q2E,Q1E
0,3,4609,4648,11548,883,7304,3674,2496,3423,2115,...,6928,5759,5676,10188,2726,6646,5365,6180,2522,7107
1,2,10409,3884,2827,5095,9578,1820,2181,2749,12717,...,17651,3909,5548,6215,2885,4027,8563,5243,3092,6354
2,1,2691,1759,3337,2935,2034,2891,2150,2552,2214,...,2561,3219,1681,2435,2359,4338,3822,5262,2747,5397
3,1,3697,2345,3198,5562,2427,2298,664,1975,1619,...,5096,4152,2622,2852,1757,2478,2925,5141,3348,3055
4,2,1662,6413,4024,7224,799,817,2182,2043,1122,...,704,4066,4926,1731,3024,3082,2020,5637,1878,2542

In [63]:
i_data.head()

,Q91I,Q90I,Q89I,Q88I,Q87I,Q86I,Q85I,Q84I,Q83I,Q82I,...,Q10I,Q9I,Q8I,Q7I,Q6I,Q5I,Q4I,Q3I,Q2I,Q1I
0,35,40,4,67,60,12,58,68,47,61,...,13,48,15,11,23,74,66,56,91,51
1,1,28,90,80,2,47,77,88,19,7,...,25,71,84,54,79,75,3,12,13,39
2,19,87,41,46,29,7,55,39,63,12,...,81,82,16,42,68,21,80,40,35,17
3,23,15,40,2,64,74,28,60,9,65,...,71,62,48,63,8,33,42,13,14,41
4,69,86,7,33,83,28,66,46,68,63,...,21,56,38,49,44,59,13,15,54,76

In [64]:
a_data.head()

,Q91A,Q90A,Q89A,Q88A,Q87A,Q86A,Q85A,Q84A,Q83A,Q82A,...,Q10A,Q9A,Q8A,Q7A,Q6A,Q5A,Q4A,Q3A,Q2A,Q1A
0,3,3,4,5,2,4,1,2,3,1,...,5,4,3,3,2,3,2,1,3,5
1,3,4,4,4,3,1,2,2,2,1,...,3,1,2,5,2,2,5,1,5,5
2,1,1,2,3,5,4,5,5,5,5,...,5,5,5,5,5,4,3,5,4,3
3,3,3,4,4,5,3,5,5,5,5,...,2,4,4,5,5,5,1,1,2,5
4,5,5,5,2,1,3,1,1,3,2,...,4,3,1,5,3,3,1,1,2,1

In [ ]:
metadata = pd.DataFrame({'M': []})
for column_name in data.columns:
    if (!column_name.endswith('A')) || (!column_name.endswith('E')) || (!column_name.endswith('E')):
        extracted_column = data[column]
        metadata.insert(loc = 1, column_column_name, )